/* CSS Document */
#banner {
	background-image: url("../images/BlackPolygonBackGround.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: white;
}

#physCompBanner {
	background-image: url("../images/arduinoKitGrayBlur.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;	
}

#webDevBanner {
	background-image: url("../images/webDevImg.jpeg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#welcomeMessage {
	font-size: 80px;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

#chalkBG {
	background-image: url("../images/chalkBoardBG.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#darkBGText {
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
