/* CSS Document */
#banner {
	background-image: url("../images/BlackPolygonBackGround.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: white;
}

#welcomeMessage {
	font-size: 80px;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}